{% extends "core/private_page.html.twig" %}

{% import "macros/icon.html.twig" as icon %}

{% block title %}Password history for <a href="/user.php?id={{ user.ID }}">{{ user.Username}}</a>{% endblock %}

{% block main_content %}
    <table width="100%">
        <tr class="colhead">
            <td>Changed</td>
            <td>IP [<a href="/userhistory.php?action=ips&userid={{ user.ID }}">H</a>]</td>
        </tr>
        {% for password in user.passwords %}
            <tr class="row{{ loop.index % 2 ? 'a' : 'b' }}">
                <td>{{ time_diff(password.Time)|raw }}</td>
                <td>{{ password.ip }} [<a href="/user.php?action=search&ip_history=on&ip={{ password.ip }}" title="Search">S</a>]<br />{{ get_host(password.ip)|raw }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
