<div class="box clear">
    <div class="colhead_dark"><strong>Poll {{ (poll.Closed) ? '[Closed]': '' }} {{ (poll.Featured) ? '[Featured]' : '' }}</strong>
            <a href="#" onclick="$('#threadpoll').toggle(); this.innerHTML=(this.innerHTML=='(Hide)'?'(View)':'(Hide)'); return false;"> {{ (thread.IsLocked) ? '(View)' : '(Hide)' }}</a>
    </div>
    <div class="pad {{ (thread.IsLocked) ? 'hidden' : '' }} ?>" id="threadpoll">
        <p><strong>{{ poll.Question|decode }}</strong></p>
        {% set show = ( poll.voted is not null or poll.Closed or thread.IsLocked) %}
        {% if show or auth.isAllowed('forum_polls_moderate') %}
            <div id="poll_votes_container">
        {% endif %}
        {% if not show %}
            <a href="#" onclick="$('#poll_votes').toggle(); this.innerHTML=(this.innerHTML=='(Hide Results)'?'(View Results)':'(Hide Results)'); return false;">(View Results)</a><br/>
        {% endif %}

        <div id="poll_votes" {{ (show) ? '' : 'class="hidden"' }}>
            {% if not auth.isAllowed('forum_polls_moderate') %}
                <ul class="poll nobullet">
                    {% for index, answer in thread.poll.answers() %}
                        {% if thread.poll.votes[index] is not empty and thread.poll.totalVotes > 0 %}
                            {% set ratio = thread.poll.votes[index].total/thread.poll.maxVotes %}
                            {% set percent = thread.poll.votes[index].total/thread.poll.totalVotes %}
                        {% else %}
                            {% set ratio = 0 %}
                            {% set percent = 0 %}
                        {% endif %}
                        <li>{{ poll.answer|decode }} ({{ (poll.answer.percent*100)|number_format(2) }}%)</li>
                        <li class="graph">
                            <span class="left_poll"></span>
                            <span class="center_poll" style="width:{{ poll.answer.ratio|round }}px;"></span>
                            <span class="right_poll"></span>
                        </li>
                        {% if poll.answers[0].votes > 0 %}
                            <li>(Blank) ({{ (percent*100)|number_format(2) }}%)</li>
                            <li class="graph">
                                <span class="left_poll"></span>
                                <span class="center_poll" style="width:{{ ratio*750|round }}px;"></span>
                                <span class="right_poll"></span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <strong>Votes:</strong> {{ poll.totalVotes|number_format() }} Testing: {{ StaffCount|number_format() }}<br /><br />
                
        </div>
    </div>
</div>
<ul style="list-style: none;" id="poll_options">
<?php

      foreach ($Answers as $i => $Answer) {
?>
          <li>
              <a href="/forums.php?action=change_vote&amp;threadid={{ thread.ID }}&amp;auth={{ ActiveUser.legacy.AuthKey }}&amp;vote=<?=(int) $i?>"><?=display_str($Answer == '' ? "Blank" : $Answer)?></a>
               - <?=$StaffVotes[$i]?>&nbsp;(<?=number_format(((float) $Votes[$i]/$TotalVotes)*100, 2)?>%)
               <a href="/forums.php?action=delete_poll_option&amp;threadid={{ thread.ID }}&amp;auth={{ ActiveUser.legacy.AuthKey }}&amp;vote=<?=(int) $i?>">[X]</a>
                  </li>
<?php			} ?>
          <li><a href="/forums.php?action=change_vote&amp;threadid={{ thread.ID }}&amp;auth={{ ActiveUser.legacy.AuthKey }}&amp;vote=0">Blank</a> - <?=$StaffVotes[0]?>&nbsp;(<?=number_format(((float) $Votes[0]/$TotalVotes)*100, 2)?>%)</li>
      </ul>
<?php
      if ($forumID == $this->settings->forums->staff_forum_id) {
?>
      <br />
      <strong>Votes:</strong> <?=number_format($TotalVotes)?> / <?=$StaffCount ?>
      <br />
      <strong>Missing Votes:</strong> <?=implode(", ", $StaffNames)?>
      <br /><br />
<?php
      }
?>
      <a href="#" onclick="AddPollOption({{ thread.ID }}); return false;">[+]</a>
<?php
  }

?>
          </div>
      </div>
