{% extends "core/private_page.html.twig" %}

{% import "macros/icon.html.twig" as icon %}

{% block scripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    <a href="/forum">Forum</a>
    > {{ forum.Name|decode }}
{% endblock %}

{% block main_content %}
    {% if not master.repos.restrictions.isRestricted(ActiveUser.ID, constant('Luminance\\Entities\\Restriction::FORUM')) %}
    {{ render.latestForumThreads() }}
    <div class="linkbox">
        {% if forum.canCreate(ActiveUser) and not master.repos.restrictions.isRestricted(ActiveUser.ID, constant('Luminance\\Entities\\Restriction::POST')) %}
            [<a href="/forum/{{ forum.ID }}/new">New Thread</a>]
        {% endif %}
        [<a href="/forum/catchup/{{ forum.ID }}">Catch up</a>]
        [<a href="#" onclick="$('#searchforum').toggle(); this.innerHTML = (this.innerHTML == 'Search this forum'?'Hide Search':'Search this forum'); return false;">Search this forum</a>]
        [<a href="/forum/{{ forum.ID }}/unread">Unread Posts</a>]
    </div>
    <div id="searchforum" class="hidden">
        <div>
            <br />
            <div class="head">Search this forum</div>
            <form action="/forum/search" method="get">
                <table cellpadding="6" cellspacing="1" border="0" class="border">
                    <input type="hidden" name="forums[]" value="{{ forum.ID }}" />
                    <tr>
                        <td class="label"><strong>Search for:</strong></td><td><input type="text" id="searchbox" name="terms" size="70" /></td>
                    </tr>
                    <tr>
                        <td class="label"><strong>Search in:</strong></td>
                        <td>
                            <input type="radio" name="type" id="type_title" value="title" checked="checked" />
                            <label for="type_title">Titles</label>
                            <input type="radio" name="type" id="type_body" value="body" />
                            <label for="type_body">Post bodies</label>
                        </td>
                    <tr>
                        <td class="label"><strong>Username:</strong></td><td><input type="text" id="username" name="username" size="70" /></td>
                    </tr>
                    <tr><td colspan="2" class="align_center"><input type="submit" name="submit" value="Search" /></td></tr>
                </table>
            </form>
            <br />
        </div>
    </div>
    {% if auth.isAllowed('forum_set_rules') %}
        <div class="linkbox">
            <a href="/forum/{{ forum.ID }}/rules">Change specific rules</a>
        </div>
    {% endif %}
    {% if rules is not empty %}
        <div class="head">
            Forum Specific Rules
        </div>
        <div class="box pad center">
            {% for rule in rules %}
                  [<a href="/forum/thread/{{ rule.thread.ID }}" title="{{ rule.thread.Title|decode }}">{{ rule.thread.Title|truncate(50)|decode }}</a>]
            {% endfor %}
        </div>
    {% endif %}
    <br/>
    <div class="linkbox pager">
        {{ render.pagelinks(page, forum.numThreads, pageSize, 9) }}
    </div>
    <br/>
    <div class="head"><a href="/forum">Forum</a> > {{ forum.Name|decode }}</div>
    <table class="forum_list" width="100%">
        <tr class="colhead">
            <td style="width:2%;"></td>
            <td>Thread</td>
            <td style="width:5%;">Posts</td>
            <td style="width:5%;">Views</td>
            <td>Latest</td>
            {% if auth.isAllowed('forum_thread_move') %}
                <td style="width:3%">Moderation</td>
            {% endif %}
        </tr>
        {% if threads is empty %}
            <tr>
                <td colspan="{{ auth.isAllowed('forum_moderate') ? '6' : '5' }}">
                    <p class="center">
                        No threads to display in this forum!
                    </p>
                </td>
            </tr>
        {% else %}
            {% for thread in threads %}
                {% set unread = '' %}
                {% set icons  = [] %}
                {% set title  = '' %}
                {% set sticky = '' %}
                {% if thread.hasUnread(ActiveUser) %}
                    {% set unread = 'forum_hint_unread' %}
                {% endif %}
                {% if thread.IsLocked %}
                    {% set icons = icons|merge(['forum_locked']) %}
                    {% set title = title ~ 'Locked ' %}
                {% endif %}
                {% if thread.IsSticky %}
                    {% set icons = icons|merge(['forum_pinned']) %}
                    {% set title = title ~ 'Pinned ' %}
                    {% set sticky = 'sticky' %}
                {% endif %}
                {% if not thread.IsLocked and not thread.IsSticky %}
                    {% set icons = ['forum_read'] %}
                    {% set title = 'Forum ' %}
                {% endif %}
                <tr class="row{{ loop.index % 2 ? 'b' : 'a' }} {{ sticky }}">
                    <td>
                        <span class="forum_icon_container" title="{{ title }}Thread">
                            {{ icon.render("forum_icons #{unread}", icons) }}
                        </span>
                    </td>
                    <td>
                        <span class="float_left last_thread">
                            <strong>
                                <a href="/forum/thread/{{ thread.ID }}" title="{{ thread.Title|decode }}">{{ thread.Title|truncate(50)|decode }}</a>
                            </strong>
                            {% include '@Forum/snippets/inline_pagelinks.html.twig' %}
                        </span>
                        {% if thread.lastRead(ActiveUser) is not empty %}
                            <span class="float_left" title="Jump to last read">
                                <a href="/forum/thread/{{ thread.ID }}?postid={{ thread.lastRead(ActiveUser).PostID }}#post{{ thread.lastRead(ActiveUser).PostID }}">
                                    {{ icon.render("forum_icons clickable", ['forum_latest']) }}
                                </a>
                            </span>
                        {% endif %}
                        <span class="float_right first_poster">
                            {% set usernameOptions = {
                                'drawInBox' : false,
                                'colorname' : false,
                                'dropDown'  : false,
                                'useSpan'   : true,
                                'noIcons'   : true,
                                'noGroup'   : true,
                                'noClass'   : true,
                                'noTitle'   : true,
                            } %}
                            started by {{ render.username(thread.AuthorID, usernameOptions) }}
                        </span>
                    </td>
                    <td class="align_center">{{ thread.numPosts|number_format() }}</td>
                    <td class="align_center">{{ thread.NumViews|number_format() }}</td>
                    <td>
                        <span class="last_poster float_left">
                            by {{ render.username(thread.lastPost.AuthorID, usernameOptions) }} {{ time_diff(thread.lastPost.AddedTime,1)|raw }}
                        </span>
                        <span class="float_left" title="Jump to last post">
                            <a href="/forum/thread/{{ thread.ID }}?postid={{ thread.lastPost.ID }}#post{{ thread.lastPost.ID }}">
                                {{ icon.render("forum_icons clickable", ['forum_latest']) }}
                            </a>
                        </span>
                    </td>
                    {% if auth.isAllowed('forum_thread_move') %}
                    <td><span class="align_center">
                    <div><input type="checkbox" name="threadids[]" value="{{ thread.ID }}" form="threads"/>
                    </div>
                    </span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="linkbox pager">
        {{ render.pagelinks(page, forum.numThreads, pageSize, 9) }}
    </div>
    {{ render.forumGoto(forum) }}
    <div class="linkbox">
        [<a href="/forum/catchup/{{ forum.ID }}">Catch up</a>]
        [<a href="/forum/{{ forum.ID }}/unread">Unread Posts</a>]
    </div>

    {% if auth.isAllowed('forum_thread_move') %}
        <form id="threads" action="/forum/threads/move" method="post">
        <div class="messagecontainer" id="container"><div id="message" class="hidden center messagebar"></div></div>
        <div class="head">Edit Threads</div>
            <input type="hidden" name="auth" value="{{ ActiveUser.legacy.AuthKey }}" />
            <input type="hidden" name="destination" value="{{ forum.ID }}" />
            <table cellpadding="6" cellspacing="1" border="0" width="100%" class="border">
                <tr>
                </tr>
                <tr>
                    <td>
                        {{ render.forumSelect(thread.ForumID) }}
                    </td>
                    <td>
                        <input type="text" name="comment" class="medium" value="" placeholder="Reason for moving" />
                        <input type="submit" value="Move"/>
                    </td>
                    <td>
                        {% if auth.isAllowed('forum_thread_delete') %}
                            <input type="submit" value="Delete" formaction="/forum/threads/delete"/>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
    {% endif %}
    {% if master.repos.restrictions.isRestricted(ActiveUser.ID, constant('Luminance\\Entities\\Restriction::FORUM')) %}
    <div class="box pad" align="center">
    <b>Your forum privileges have been revoked!</b><br><br>
    <a href="{{ settings.links.rules }}"> View the site rules</a>
    </div>
    {% endif %}
{% endblock %}
