{% block header %}
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>
            {% apply striptags|decode|raw %}
                {% block title %}
                    {{ page_title }}
                {% endblock %}
                {% set _title = block('title') %}
                {% if _title %} :: {% endif %}
                {{ settings.main.site_name }}
            {% endapply %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="chrome=1;IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/favicon.ico?v={{ render.publicFileMtime('/favicon.ico') }}" />
        {% if authenticated %}
            {% include 'snippets/header_links.html.twig' %}
        {% endif %}

        {% block stylesheets %}
            {% include 'snippets/link_style.html.twig' with { 'style' : 'styles/main.css'} %}
        {% endblock %}

        {% block scripts %}
            {% for script in scripts %}
                <script {{ script.defer ? 'defer' }} src="{{ script.src }}" type="text/javascript" integrity="{{ script.sri }}"></script>
                {% if script.append %}
                    {{ script.append|raw }}
                {% endif %}
            {% endfor %}
            <script defer src="{{ settings.main.static_server }}libraries/MathJax/MathJax.js?config=TeX-AMS_CHTML" type="text/javascript" ></script>
        {% endblock %}
        {% block predict %}
            {# used to perform prerender on some pages #}
            {% if prerender is defined %}
                <link prerender href="{{ prerender }}" />
            {% endif %}
        {% endblock %}
    </head>
{% endblock %}

{% block content %}
{% endblock %}

</html>
