{% extends "core/page.html.twig" %}

{% block title %}User Security{% endblock %}

{% block hibp_scripts %}
    {% if (master.options.HaveIBeenPwned) %}
        <script src="/static/functions/jquery.js" type="text/javascript"></script>
        <script src="/static/functions/hibp/sha1.js" type="text/javascript"></script>
        <script src="/static/functions/hibp/hibp.js" type="text/javascript"></script>
        <script type="text/javascript">
            sendSelector = 'input[type=submit][name=submit][value=Save]';
        </script>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div>
        <div class="head"><a href="/user.php?id={{ user.ID }}">{{ user.Username }}</a> &gt; Security</div>
        <div class="box">
            <table cellpadding="6" cellspacing="1" border="0" width="100%" class="border">
            <tbody>
                <tr class="colhead">
                    <td colspan="6">
                        <strong>E-mails</strong>
                    </td>
                </tr>
                <tr>
                    <td class="label"><strong>Current e-mails:</strong></td><td colspan="3"></td>
                </tr>
                {% for email in emails %}
                    {% if not email.is_cancelled or check_perms('users_view_email') %}
                        <tr style="min-height: 2em;">
                            <td></td>
                            <td style="vertical-align: middle;">
                                <span style="float: left;">{{ email.Address }}</span>
                                {% if email.is_cancelled() %}
                                    <span class="label label-error">deleted</span>
                                {% endif %}
                                {% if email.is_default() %}
                                    <span class="label label-default">default</span>
                                {% endif %}
                                {% if email.is_encrypted() %}
                                    <span class="label label-warning">encrypted</span>
                                {% endif %}
                                {% if email.is_confirmed() %}
                                    <span class="label label-success">confirmed</span>
                                {% endif %}
                                {% if check_perms('users_view_ips') %}
                                    <span>&nbsp;{{ email.IP }} {{ email.IP.geoip }}</span>
                                {% endif %}
                            </td>
                            <td style="text-align: right; width: 64px">
                                {% if controls.email %}
                                    {% if email.is_cancelled() and check_perms('users_edit_email') %}
                                        <form style="display: inline-block;" action="/users/{{ user.ID }}/email/restore" method="POST">
                                            <input type="hidden" name="token" value="{{ secretary.getToken('users.email.restore') }}" />
                                            <input type="hidden" name="emailID" value="{{ email.ID }}">
                                            <button style="all: unset" type="submit" value="Restore" title="Restore">{{ get_icon('misc_icons', 'misc_restore')|raw }}</button>
                                        </form>
                                    {% endif %}
                                    {% if (email.is_confirmed() or check_perms('users_edit_email')) and not email.is_cancelled() and not email.is_default() %}
                                        <form style="display: inline-block;" action="/users/{{ user.ID }}/email/default" method="POST">
                                            <input type="hidden" name="token" value="{{ secretary.getToken('users.email.default') }}" />
                                            <input type="hidden" name="emailID" value="{{ email.ID }}">
                                            <button style="all: unset" type="submit" value="Default" title="Default">{{ get_icon('misc_icons', 'misc_favorite')|raw }}</button>
                                        </form>
                                    {% endif %}
                                    {% if email.ready_to_resend() and not email.is_confirmed() %}
                                        <form style="display: inline-block;" action="/users/{{ user.ID }}/email/resend" method="POST">
                                            <input type="hidden" name="token" value="{{ secretary.getToken('users.email.resend') }}" />
                                            <input type="hidden" name="emailID" value="{{ email.ID }}">
                                            <button style="all: unset" type="submit" value="Resend" title="Resend">{{ get_icon('misc_icons', 'misc_send')|raw }}</button>
                                        </form>
                                    {% endif %}
                                    {% if not email.is_default() %}
                                        <form style="display: inline-block;" action="/users/{{ user.ID }}/email/delete" method="POST">
                                            <input type="hidden" name="token" value="{{ secretary.getToken('users.email.delete') }}" />
                                            <input type="hidden" name="emailID" value="{{ email.ID }}">
                                            <button style="all: unset" type="submit" value="Delete" title="Delete">{{ get_icon('misc_icons', 'misc_trash')|raw }}</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            <tr>
            <td></td><td colspan="4"><form action="/users/{{ user.ID }}/email/add" method="POST">
                    <input type="hidden" name="token" value="{{ secretary.getToken('users.email.add') }}" />
                    <input type="text" name="address" placeholder="Enter new e-mail address" />
                    <input type="submit" name="submit" value="Add" />
                </form></td>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr class="colhead">
                    <td colspan="4">
                        <strong>Enhanced Security</strong>
                    </td>
            </tr>
            {% if controls.tfa %}
            <tr>
                    <td class="label">Two Factor Authentication</td>
                    <td colspan="3">
                            {% if user.twoFactorSecret is empty %}
                                {% if ownProfile %}
                                    <a href="/users/{{ user.ID }}/twofactor/enable" rel="modal:open"><button>Enable</button></a>
                                {% else %}
                                    <button disabled>Enable</button>
                                {% endif %}
                            {% else %}
                                {% if ownProfile %}
                                    <a href="/users/{{ user.ID }}/twofactor/disable" rel="modal:open"><button>Disable</button></a>
                                    {#<a href="/users/{{ user.ID }}/twofactor/view" rel="modal:open"><button>View Secret</button></a>#}
                                {% else %}
                                    <form id="twofactor_confirm_form" action="/users/{{ user.ID }}/twofactor/disable" method="POST">
                                        <input type="hidden" name="token" value="{{ secretary.getToken("users.twofactor.disable") }}" />
                                    </form>
                                    <button type="submit" form="twofactor_confirm_form" value="Submit">Disable</button>
                                    {#<button disabled>View Secret</button>#}
                                {% endif %}
                            {% endif %}
                        </button></a>
                    </td>
            </tr>
            {% endif %}
            <tr class="colhead">
                    <td colspan="4">
                        <strong>Change password</strong>
                    </td>
            </tr>
                <form action="/users/{{ user.ID }}/password/change" method="POST">
                    <input type="hidden" name="token" value="{{ secretary.getToken('users.password.change') }}" />

                    <tr>
                        <td class="label">Old password</td>
                        <td><input type="password" name="old_password" placeholder="Enter old password" /></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="label">New password</td>
                        <td>
                            <input type="password" name="password" placeholder="Enter new password" />
                            <input type="password" name="check_password" placeholder="Enter new password again" />
                        </td>
                        <td colspan="2">
                            {% if (master.options.HaveIBeenPwned) %}
                                <input style="float: right;" type="submit" name="submit" value="Save" disabled class="disabled" />
                                <input style="float: right;" type="submit" name="submit" value="Check" class="hidden" onclick="event.preventDefault();return haveibeenpwned();" />
                            {% else %}
                                <input style="float: right;" type="submit" name="submit" value="Save" />
                            {% endif %}
                        </td>
                    </tr>
                    {% if (master.options.HaveIBeenPwned) %}
                        <tr>
                            <td class="label"></td>
                            <td id="password-help" class="hidden"></td>
                            <td colspan="2"></td>
                        </tr>
                    {% endif %}
                </form>
        </tbody>
    </table>
    </div>

    {% if not ownProfile %}
    <div class="head">Security logs</div>
    <div class="box">
        <table cellpadding="6" cellspacing="1" border="0" width="100%" class="border">
            <tbody>
            <tr class="colhead">
                <td><strong>Event</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>IP</strong></td>
                <td><strong>By</strong></td>
            </tr>
            {% for log in logs %}
            <tr>
                <td>{{ log.Event }}</td>
                <td>{{ time_diff(log.Date)|raw }}</td>
                <td>{{ log.IP|raw }}</td>
                <td>{{ render.username(log.AuthorID, {'useSpan': true, 'noTitle': true})|raw }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
