{% extends "core/base.html.twig" %}

{% block body_id %}userhistory{% endblock %}

{% block title %}{{ ActiveUser.Username}} > Sessions{% endblock %}

{% block content %}
<div class="thin">
    <h2>{{ block('title') }}</h2>
    <div class="box pad">
        <p>Note: Clearing cookies can result in ghost sessions which are automatically removed after 30 days.</p>
    </div>
    <div class="linkbox"></div>
        <div class="head">Results: {{ SessionCount }}</div>
            <table>
            <tr class="colhead">
                <td style="width: 20%">Session ID</td>
                <td style="width: 20%">IP Address</td>
                <td style="width: 20%">Started</td>
                <td style="width: 20%">Last Activity</td>
                <td style="width: 5%">Active</td>
                <td style="width: 15%">Flags</td>
            </tr>
            {% for Session in Sessions %}
            <tr class="rowa">
                <td>{{ Session.ID }}</td>
                <td>{{ Session.IP.get_cidr() }}</td>
                <td>{{ Session.Created.format('Y-m-d H:i:s') }}</td>
                <td>{{ Session.Updated.format('Y-m-d H:i:s') }}</td>
                <td>{{ Session.Active }}</td>
                <td>{{ Session.Flags }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
