Hello,
Someone requested this email address to be activated to their {{settings.main.site_name}} account.

Visit the link below to activate this email:
<a href="{{scheme}}://{{settings.main.site_url}}/users/{{userID}}/email/confirm?token={{token}}">CLICK HERE TO CONFIRM</a>

If you didn't add {{email}} to your {{settings.main.site_name}} account, ignore this email.

Thank you,
{{settings.main.site_name}} Staff
