A password reset process has been started for the username: {{user.Username}}

Unfortunately this action cannot be completed as the account is currently disabled.

Please join our IRC help channel to get the account enabled again. Please use your {{settings.main.site_name}} user name

Webchat available at <a href="{{settings.site.help_url}}/{{settings.irc.disabled_chan}}">CLICK HERE FOR WEBCHAT</a>

For users of an IRC client:
irc: {{settings.irc.server}}
port: 6667 / 6697 (SSL)
help channel: {{settings.irc.disabled_chan}}

The user who requested the password reset had the IP address {{request.ip}}.

Thank you,
{{settings.main.site_name}} Staff
