{% import "macros/icon.html.twig" as icon %}

<div id="header_bottom">
    <div id="major_stats_left">
        <ul id="userinfo_major">
            <li id="nav_donate" class="brackets">
                <a href="/donate.php">
                    {{ icon.render('nav_icons', ['nav_donate']) }}
                    Donate
                </a>
            </li>
            {% if options.EnableUploads %}
                <li id="nav_upload" class="brackets">
                    <a href="/upload.php">
                        {{ icon.render('nav_icons', ['nav_upload']) }}
                        Upload
                    </a>
                </li>
            {% endif %}
            <li id="nav_conncheck" class="normal">
                <a href="/user.php?action=connchecker">
                    {{ icon.render('nav_icons', ['nav_conncheck']) }}
                    Conn-Checker
                </a>
            </li>
            <li>
                <a id="nav_seeding" class="user_peers" href="/torrents.php?type=seeding&amp;userid={{ ActiveUser.ID }}" title="View seeding torrents">
                    {{ icon.render('nav_icons', ['nav_seeding']) }}
                    seed:
                    {% if seeding > 0 %}
                        <span id="nav_seeding_r">{{ seeding|number_format }}</span>
                  {% else %}
                        0
                  {% endif %}
                </a>
            </li>
            <li>
                <a id="nav_leeching" class="user_peers" href="/torrents.php?type=leeching&amp;userid={{ ActiveUser.ID }}" title="View leeching torrents">
                    {{ icon.render('nav_icons', ['nav_leeching']) }}
                    leech:
                    {% if leeching > 0 %}
                        <span id="nav_leeching_r">{{ leeching|number_format }}</span>
                    {% else %}
                        0
                    {% endif %}
            </a></li>
        </ul>
    </div>
    {% include 'snippets/freeleech.html.twig' %}
    <div id="major_stats">
        {% if master.userManager.canInvite(ActiveUser) or master.userManager.hasInvited(ActiveUser) %}
            <ul id="userinfo_invites">
                <li id="nav_invites" class="brackets">
                    <a href="/user/{{ ActiveUser.ID }}/invite" title="Invite new user">
                        {{ icon.render('nav_icons', ['nav_invites']) }}
                        Invites:
                        {% if not auth.isAllowed('site_can_invite') %}
                            -
                        {% else %}
                            {% if auth.isAllowed('site_send_unlimited_invites') %}
                                &infin;
                            {% else %}
                                <span id="nav_invites_r">{{ invites|number_format }}</span>
                            {% endif %}
                        {% endif %}
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if userinfo_tools %}
            <ul id="userinfo_tools">
                <li id="nav_tools">
                    <a href="/tools.php">
                        {{ icon.render('nav_icons', ['nav_tools']) }}
                        Tools
                    </a>
                    <ul>
                    {% for entry in userinfo_tools %}
                        <li><a href="/{{ entry.target }}">{{ entry.title }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endif %}
        <ul id="userinfo_username">
            <li id="nav_userinfo" class="{% if hv.NewMessages or hv.NumUnansweredStaffPMs or hv.NewStaffPMs or hv.NewNotifications or hv.NewSubscriptions %}highlight{% else %}normal{% endif %}">
                <a href="/user.php?id={{ ActiveUser.ID }}" class="username">
                    {{ icon.render('nav_icons', ['nav_userinfo']) }}
                    {{ ActiveUser.Username }}
                </a>
                <ul>
                    <li id="navmenu_inbox" class="{% if hv.NewMessages %}highlight{% else %}normal{% endif %}">
                        <a onmousedown="Stats('inbox');" href="/user/inbox/received">
                            {{ icon.render('nav_icons', ['nav_inbox']) }}
                            Inbox
                            {% if hv.NewMessages %}
                                ({{ hv.NewMessages }})
                            {% endif %}
                        </a>
                    </li>
                    {% if ActiveUser.legacy.SupportFor or ActiveUser.class.DisplayStaff %}
                        <li id="navmenu_staffinbox" class="{% if hv.NumUnansweredStaffPMs %}highlight{% else %}normal{% endif %}">
                            <a onmousedown="Stats('staffinbox');" href="/staffpm.php?action=staff_inbox&amp;view=open">
                                {{ icon.render('nav_icons', ['nav_staffinbox']) }}
                                Staff Inbox ({{ hv.NumUnansweredStaffPMs }}) ({{ hv.NumOpenStaffPMs }})
                            </a>
                        </li>
                    {% endif %}
                    <li id="navmenu_staffmessages" class="{% if hv.NewStaffPMs %}highlight{% else %}normal{% endif %}">
                        <a onmousedown="Stats('staffpm');" href="/staffpm.php?action=user_inbox">
                            {{ icon.render('nav_icons', ['nav_staffmessages']) }}
                            Message Staff
                            {% if hv.NewStaffPMs %}
                                ({{ hv.NewStaffPMs }})
                            {% endif %}
                        </a>
                    </li>
                    <li id="navmenu_uploaded" class="normal">
                        <a onmousedown="Stats('uploads');" href="/torrents.php?type=uploaded&amp;userid={{ ActiveUser.ID }}">
                            {{ icon.render('nav_icons', ['nav_uploaded']) }}
                            Uploads
                        </a>
                    </li>
                    {% if auth.isAllowed('site_submit_requests') %}
                        <li id="navmenu_myrequests" class="normal">
                            <a onmousedown="Stats('requests');" href="/requests.php?type=created">
                                {{ icon.render('nav_icons', ['nav_myrequests']) }}
                                My Requests
                            </a>
                        </li>
                    {% endif %}
                    <li id="navmenu_bookmarks" class="normal">
                        <a onmousedown="Stats('bookmarks');" href="/bookmarks.php?type=torrents">
                            {{ icon.render('nav_icons', ['nav_bookmarks']) }}
                            Bookmarks
                        </a>
                    </li>
                    {% if auth.isAllowed('site_torrents_notify') %}
                        <li id="navmenu_notifications" class="{% if hv.NewNotifications %}highlight{% else %}normal{% endif %}">
                            <a onmousedown="Stats('notifications');" href="/torrents.php?action=notify">
                                {{ icon.render('nav_icons', ['nav_notifications']) }}
                                Notifications
                                {% if hv.NewNotifications %}
                                    ({{ hv.NewNotifications }})
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    <li id="navmenu_subscriptions" class="{% if hv.NewSubscriptions %}highlight{% else %}normal{% endif %}">
                        <a onmousedown="Stats('subscriptions');" href="/userhistory.php?action=subscriptions"{% if hv.NewSubscriptions %} class="new-subscriptions"{% endif %}>
                            {{ icon.render('nav_icons', ['nav_subscriptions']) }}
                            Subscriptions
                            {% if hv.NewSubscriptions %}
                                ({{ hv.NewSubscriptions }})
                            {% endif %}
                        </a>
                    </li>
                    {#{% if (auth.isAllowed('site_set_reminder')) %}
                        icon
                        <li id="nav_remidner" class="normal">
                            <a href="/user/reminders">
                                Reminders
                            </a>
                        </li>
                    {% endif %}#}
                    <li id="navmenu_posthistory" class="normal">
                        <a href="/userhistory.php?action=posts&amp;group=0&amp;showunread=0">
                            {{ icon.render('nav_icons', ['nav_posthistory']) }}
                            Post History
                        </a>
                    </li>
                    <li id="navmenu_comments" class="normal">
                        <a onmousedown="Stats('comments');" href="/userhistory.php?action=comments">
                            {{ icon.render('nav_icons', ['nav_comments']) }}
                            Comment History
                        </a>
                    </li>

                    {% if master.userManager.canInvite(ActiveUser) or master.userManager.hasInvited(ActiveUser) %}
                        <li id="navmenu_invites" class="normal">
                            <a onmousedown="Stats('invites');" href="/user/{{ ActiveUser.ID }}/invite">
                                {{ icon.render('nav_icons', ['nav_invites']) }}
                                Invites
                            </a>
                        </li>
                    {% endif %}
                    <li id="navmenu_friends" class="normal">
                        <a onmousedown="Stats('friends');" href="/friends.php">
                            {{ icon.render('nav_icons', ['nav_friends']) }}
                            Friends
                        </a>
                    </li>
                    <li id="navmenu_mydonations" class="normal">
                        <a href="/donate.php?action=my_donations">
                            {{ icon.render('nav_icons', ['nav_mydonations']) }}
                            My Donations
                        </a>
                    </li>
                    <li id="navmenu_bonus" class="normal" title="Spend your credits in the bonus shop">
                        <a href="/bonus.php">
                            {{ icon.render('nav_icons', ['nav_bonus']) }}
                            Bonus Shop
                        </a>
                    </li>
                    {% if auth.isAllowed('site_give_specialgift') %}
                        <li id="navmenu_gift" class="normal" title="Give a gift of credits to a perv in need">
                            <a href="/bonus.php?action=gift">
                                {{ icon.render('nav_icons', ['nav_gift']) }}
                                Special Gift
                            </a>
                        </li>
                    {% endif %}
                    <li id="navmenu_sandbox" class="normal">
                        <a href="/sandbox">
                            {{ icon.render('nav_icons', ['nav_sandbox']) }}
                            Sandbox
                        </a>
                    </li>
                    {% if auth.isAllowed('site_play_slots') %}
                        <li id="navmenu_slots" class="normal">
                            <a href="/bonus.php?action=slot">
                                {{ icon.render('nav_icons', ['nav_slots']) }}
                                Slot Machine
                            </a>
                        </li>
                    {% endif %}
                    <li id="nav_useredit" class="normal">
                        <a href="/user.php?action=edit&amp;userid={{ ActiveUser.ID }}" title="Edit User Settings">
                            {{ icon.render('nav_icons', ['nav_useredit']) }}
                            Settings
                        </a>
                    </li>
                    <li id="nav_usersecure" class="normal">
                        <a href="/user/{{ ActiveUser.ID }}/security" title="Security Settings">
                            {{ icon.render('nav_icons', ['nav_security']) }}
                            Security
                        </a>
                    </li>
                    <li id="nav_logout" class="normal">
                        <form method="POST" id="logout" action="/logout" />
                            <input type="hidden" name="token" value="{{ secretary.getToken("user.logout") }}" />
                        </form>
                        <a href="javascript:{}" onclick="document.getElementById('logout').submit(); return false;">
                            {{ icon.render('nav_icons', ['nav_logout']) }}
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% include 'snippets/donation_bar.html.twig' %}


{% if not ActiveUser.legacy.Donor and settings.site.advert_html %}
<div id="adbar">
    {{ settings.site.advert_html }}
</div>
{% endif %}
