{% import "macros/icon.html.twig" as icon %}

<div id="searchbars">
    <ul>
        <li id="searchbar_torrents">
            <form action="/torrents.php" method="get">
                <div class="searchcontainer">
                    <input
                        id="searchbox_torrents"
                        class="searchbox"
                        accesskey="t"
                        spellcheck="false"
                        placeholder="Search Torrents"
                        value="" type="text" name="searchtext" title="Search Torrents - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search torrents" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search torrents">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
        <li id="searchbar_tags">
            <form action="/torrents.php" method="get">
                <div class="searchcontainer">
                    <input
                        id="searchbox_tags"
                        class="searchbox"
                        spellcheck="false"
                        placeholder="Search Tags"
                        value="" type="text" name="taglist" title="Search Tags - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search tags" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search tags">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
        <li id="searchbar_requests">
            <form action="/requests.php" method="get">
                <div class="searchcontainer">
                    <input
                        id="searchbox_requests"
                        class="searchbox"
                        spellcheck="false"
                        placeholder="Search Requests"
                        value="" type="text" name="search" title="Search Requests - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search requests" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search requests">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
        {% if not master.repos.restrictions.isRestricted(ActiveUser.ID, constant('Luminance\\Entities\\Restriction::FORUM')) %}
        <li id="searchbar_forums">
            <form action="/forum/search" method="get">
                <div class="searchcontainer">
                    <input
                        id="searchbox_forums"
                        class="searchbox"
                        placeholder="Search Forums"
                        value="" type="text" name="terms" title="Search Forums - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search forums" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search forums">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
        {% endif %}
        <li id="searchbar_help">
            <form action="/articles/search" method="get">
                <div class="searchcontainer">
                    <input
                        id="searchbox_help"
                        class="searchbox"
                        placeholder="Search Help"
                        value="" type="text" name="searchterms" title="Search Help &amp; Rules Articles - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search help" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search help">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
        <li id="searchbar_users">
            <form action="/user.php" method="post">
                <div class="searchcontainer">
                    <input type="hidden" name="token" value="{{ secretary.getToken("user.search") }}" />
                    <input type="hidden" name="action" value="search" />
                    <input
                        id="searchbox_users"
                        class="searchbox"
                        placeholder="Search Users"
                        value="" type="text" name="search" title="Search Users - enter text and press return to search"
                    />
                    <button type="submit" aria-label="search users" class="searchbutton" style="all: unset" value="" tabindex="-1" title="search users">
                        {{ icon.render('',  ['nav_search']) }}
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>
